{# 顶部 Blog 名 #}
<div class="site-brand-container">
  {{ partial('_partials/sidebar/site-brand.njk') }}
</div>

{# 头像 + 博主信息 #}
<div class="sidebar-panel-header">
  {{ partial('_partials/sidebar/site-overview.njk') }}
</div>

{# 菜单 #}
<div class="sidebar-panel-nav">
  {{ partial('_partials/sidebar/site-nav.njk') }}
</div>